@font-face {
    font-family: Bold;
    src: url(Product-Sans-Bold.ttf)
}

@font-face {
    font-family: Regular;
    src: url(Product-Sans-Regular.ttf)
}

@font-face {
    font-family: Light;
    src: url(Product-Sans-Light.ttf)
}

h1 {
    font-family: Bold !important;
    font-size: 75px
}

h2,
h3,
h4,
h5 {
    font-family: Bold !important
}

b,
h6 {
    font-family: Regular !important
}

h2 {
    font-size: 50px
}

h3 {
    font-size: 45px
}

h4 {
    font-size: 32.5px
}

h5 {
    font-size: 27.5px
}

h6 {
    font-size: 22px
}

a,
p {
    font-family: Light !important;
    font-size: 18px
}

a:link,
a:visited {
    text-decoration: none
}

a:link:hover,
a:visited:hover {
    text-decoration: underline
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 0;
    margin-top: 0
}

.header h1 {
    padding: 0 0 0 15px
}

.gray,
.gray a {
    color: rgba(0, 0, 0, .6) !important
}

.gray-alt,
.gray-alt a {
    color: rgba(255, 255, 255, .5) !important
}

.footer .fa-copyright {
    font-size: 11px;
    padding: 0
}

#about i,
.footer i {
    transition: all .25s;
    padding: 0 2.5px
}

#about i:hover,
.footer a i:hover {
    color: rgba(0, 0, 0, 1) !important
}

.tooltip {
    position: relative
}

.tooltip-text {
    background: linear-gradient(200deg, rgba(86, 180, 211, .8), rgba(0, 102, 65, .8));
    color: #fff;
    right: 0;
    text-align: right;
    padding: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    display: none;
    border-radius: 10px
}

.card {
    background: #fff;
    position: relative;
    margin: 10px !important;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: all .25s
}

.card a,
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
    margin-bottom: 7px
}

.card a,
.card p {
    color: rgba(0, 0, 0, .8)
}

a .card,
a.card {
    color: #000;
    text-decoration: none !important
}

a .card:hover,
a.card:hover {
    transform: translate(0, -3px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2)
}

.colorful {
    text-decoration: none !important
}

.colorful .card {
    color: #fff !important;
    padding-top: 35%;
    margin-top: -30% !important
}

.colorful:hover .card {
    transform: translate(0, -5px)
}

.colorful .card-image {
    width: 50%;
    transform: translate(50%, 7%);
    z-index: 1 !important;
    position: relative
}

.colorful:hover .card-image {
    transform: translate(50%, 0)
}

.colorful-padding {
    padding: 10px 50px 30px 50px
}

.card-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all .25s
}

.negative-header {
    margin: -300px 0 35px 0 !important
}

.pill {
    margin: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    border-radius: 25px
}

.pill p {
    color: rgba(255, 255, 255, .8);
    margin-bottom: 0
}

.green {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    color: rgba(255, 255, 255, 0);
    top: 0;
    z-index: 100
}

.green h1 {
    animation: green 1s linear 1s forwards
}

@keyframes green {
    from {
        color: rgba(255, 255, 255, 0)
    }

    to {
        color: rgba(255, 255, 255, .5)
    }
}

body {
    background: #e2e2e2;
    padding: 0;
    margin: 0;
    font-family: Light !important
}

.wrapper-horizontal {
    display: flex;
    flex-flow: row wrap
}

.wrapper-vertical {
    display: flex;
    flex-direction: column
}

.shadow {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3)
}

.br {
    border-radius: 7.5px
}

.text-center {
    text-align: center
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start !important
}

.right {
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end
}

.center {
    display: flex;
    justify-content: center;
    align-items: center
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0
}

.w1 {
    width: 10%
}

.w2 {
    width: 20%
}

.w3 {
    width: 30%
}

.w4 {
    width: 40%
}

.w5 {
    width: 50%
}

.w6 {
    width: 60%
}

.w7 {
    width: 70%
}

.w8 {
    width: 80%
}

.w9 {
    width: 90%
}

.w10 {
    width: 100%
}

.p1 {
    padding: 5px 10px
}

.p2 {
    padding: 15px 20px
}

.p3 {
    padding: 25px 30px
}

.p4 {
    padding: 35px 40px
}

.p5 {
    padding: 45px 50px
}

.p6 {
    padding: 55px 60px
}

.p7 {
    padding: 65px 70px
}

.p8 {
    padding: 75px 80px
}

.p9 {
    padding: 85px 90px
}

.p10 {
    padding: 95px 100px
}

.full-height {
    height: 100vh
}

.height-140 {
    height: 140%
}

.header-background {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%)
}

.footer,
.header {
    width: 100%
}

.footer a,
.footer p {
    font-size: 14px
}

.footer .right a {
    font-size: 18px !important
}

.section {
    margin: 50px 0
}

.quote-section {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%)
}

.quote,
.song {
    color: rgba(255, 255, 255, .7) !important;
    padding: 250px;
    display: none
}

.song a {
    color: rgba(255, 255, 255, .7) !important
}

.nav {
    padding: 15px;
    color: #fff;
    text-decoration: none !important;
    border-radius: 5px;
    transition: all .25s
}

.nav:hover {
    transform: scale(1.05);
    color: rgba(255, 255, 255, .8) !important;
    background: rgba(255, 255, 255, .25)
}

.margin {
    margin: 25px !important
}

.margin-small {
    margin: 10px
}

input[type=email],
input[type=text],
textarea {
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    color: rgba(0, 0, 0, .4);
    background: #fff;
    outline: 0;
    resize: none;
    font-size: 20px;
    transition: all .25s
}

textarea {
    margin-bottom: 20px;
    resize: vertical
}

.button,
button {
    background: rgba(0, 102, 65, 1);
    display: inline-block;
    color: #fff !important;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    padding: 12.5px;
    font-size: 15px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: all .25s;
    border: none;
    text-decoration: none !important
}

.button:hover,
button:hover {
    box-shadow: 0 3px 25px rgba(0, 0, 0, .3);
    background: rgba(0, 102, 65, .8)
}

label {
    cursor: text;
    color: rgba(0, 0, 0, .4);
    transform: translate(10px, 40px);
    transition: all .2s
}

input[type=email]:focus,
input[type=text]:focus,
textarea:focus {
    color: rgba(0, 0, 0, .8);
    border-bottom: 1px solid rgba(0, 0, 0, .8)
}

input:focus+label,
textarea:focus+label {
    color: rgba(0, 0, 0, .8)
}

.form-section {
    display: flex;
    flex-flow: column
}

.form-section input,
.form-section textarea {
    order: 2
}

.form-section label {
    order: 1
}

input[type=submit] {
    display: inline-block
}

.overlay-section {
    display: none;
    animation: project .25s
}

.overlay-section:target {
    display: flex
}

.overlay {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    position: fixed;
    display: none;
    z-index: 5;
    top: 0;
    left: 0;
    background: #e2e2e2;
    z-index: 6;
    animation: project .25s
}

.overlay h5 {
    word-wrap: break-word;
    hyphens: auto
}

@keyframes project {
    from {
        top: 50%;
        transform: scale(.75)
    }

    to {
        top: 0;
        transform: scale(1)
    }
}

.back {
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20
}

.back i {
    transition: all .25s
}

.lines1,
.lines2 {
    user-select: none;
    width: 325px;
    position: absolute
}

@keyframes lines1 {
    0% {
        transform: rotate(325deg) translate(-5px, 5px)
    }

    50% {
        transform: rotate(325deg) translate(-10px, 10px)
    }

    100% {
        transform: rotate(325deg) translate(-5px, 5px)
    }
}

@keyframes lines2 {
    0% {
        transform: rotate(30deg) translate(0, 0)
    }

    50% {
        transform: rotate(30deg) translate(5px, 5px)
    }

    100% {
        transform: rotate(30deg) translate(0, 0)
    }
}

.lines1 {
    transform: rotate(325deg)
}

.lines2 {
    transform: rotate(30deg)
}

.lines1:first-child {
    top: 0;
    left: -125px;
    animation: lines1 5s infinite
}

.lines1:last-child {
    bottom: -15px;
    right: -125px;
    animation: lines1 5s infinite 1s
}

.lines2:first-child {
    top: -15px;
    right: -125px;
    animation: lines2 5s infinite 1s
}

.lines2:last-child {
    bottom: -15px;
    left: -125px;
    animation: lines2 5s infinite
}

.ripple-dark,
.ripple-light {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none !important;
    transition: all .25s;
    margin-bottom: -5px
}

.dark,
.light {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    transform: scale(0)
}

.light {
    background: rgba(255, 255, 255, .25)
}

.dark {
    background: rgba(0, 0, 0, .25)
}

.dark.animate,
.light.animate {
    animation: ripple-effect .45s linear
}

@keyframes ripple-effect {
    80% {
        opacity: .9;
        transform: scale(4)
    }

    100% {
        opacity: 0;
        transform: scale(5)
    }
}

@media only screen and (max-height:813px) {
    .negative-header {
        margin-top: -200px !important
    }
}

@media only screen and (max-height:450px) {
    .negative-header {
        margin-top: -125px !important
    }
}

@media only screen and (max-width:813px) {
    h1 {
        font-size: 50px
    }

    h2 {
        font-size: 42.5px
    }

    h3 {
        font-size: 40px
    }

    h4 {
        font-size: 30px
    }

    h5 {
        font-size: 20px
    }

    .overlay-section .full-height .card {
        width: 75% !important
    }

    .overlay-section .full-height .card img {
        width: 50% !important
    }

    .right {
        justify-content: center !important;
        align-items: center !important
    }

    .quote,
    .song {
        padding: 200px 50px
    }

    .parallax {
        background-size: cover !important;
        background-attachment: scroll !important;
        background-position: right !important
    }

    .card {
        width: 90% !important
    }

    .colorful-padding {
        padding: 0 30px 30px 30px
    }

    .w1,
    .w10,
    .w2,
    .w3,
    .w4,
    .w5,
    .w6,
    .w7,
    .w8,
    .w9 {
        width: 100%
    }

    .colorful .card {
        width: 95% !important
    }

    .header .w5 {
        width: 100%;
        justify-content: flex-start !important
    }

    .header h1 {
        padding: 0 0 0 7.5px
    }

    .nav {
        padding: 7.5px
    }

    .footer .w3,
    .footer .w7 {
        justify-content: flex-start !important;
        padding: 5px 0
    }

    .lines1,
    .lines2 {
        user-select: none;
        width: 225px;
        position: absolute
    }

    .lines1 {
        transform: rotate(325deg)
    }

    .lines2 {
        transform: rotate(30deg)
    }

    .lines1:first-child {
        top: -15px;
        left: -35px
    }

    .lines1:last-child {
        bottom: -10px;
        right: -13px
    }

    .lines2:first-child {
        top: -50px;
        right: -13px
    }

    .lines2:last-child {
        bottom: -30px;
        left: -50px
    }
}

.background {
    background: rgba(0, 102, 65, 1)
}

.background-image {
    background: url(../images/leafeons/miharoe.png) 0 0 fixed no-repeat
}

.parallax {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat
}

.background-gradient {
    background: linear-gradient(180deg, rgba(86, 180, 211, .2), rgba(0, 102, 65, 1))
}

.background-gradient-2 {
    background: linear-gradient(200deg, rgba(86, 180, 211, .6), rgba(0, 102, 65, 1))
}

.slidein {
    margin-bottom: -150px
}

.slidein-0-1s {
    animation: slideIn 1s ease-in-out .1s;
    animation-fill-mode: forwards
}

.slidein-0-2s {
    animation: slideIn 1s ease-in-out .2s;
    animation-fill-mode: forwards
}

.slidein-0-3s {
    animation: slideIn 1s ease-in-out .3s;
    animation-fill-mode: forwards
}

.slidein-0-4s {
    animation: slideIn 1s ease-in-out .4s;
    animation-fill-mode: forwards
}

@keyframes slideIn {
    from {
        margin-bottom: -150px
    }

    to {
        margin-bottom: 0
    }
}

.noscript {
    position: fixed;
    z-index: 99999999999999999;
    top: 0;
    left: 0
}

.noscript * {
    color: #fff
}